[workspace]
[workspace.package]
edition = "2021"
authors = ["boykush <boykush315@gmail.com>"]
license = "MIT"
version = "0.18.5"
description = "A static site generator that makes it easy to write internal links (Wiki links) in Markdown files."
homepage = "https://boykush.github.io/scraps"
repository = "https://github.com/boykush/scraps"
documentation = "https://boykush.github.io/scraps"
rust-version = "1.83"
[workspace.dependencies.scraps_libs]
version = "0.18.5"
path = "modules/libs"
[workspace.dependencies]
anyhow = "1.0"
thiserror = "2.0"
url = { version = "2.5", features = ["serde"] }
itertools = "0.14"
pulldown-cmark = "0.12"

[package]
edition.workspace = true
authors.workspace = true
license.workspace = true
version.workspace = true
description.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
rust-version.workspace = true
name = "scraps"
readme = "README.md"
exclude = [
    "scraps/",
    ".github/",
    "Dockerfile",
    "assets/"
]
[dependencies]
# sub crates
scraps_libs.workspace = true
scraps_libs.features = ["error", "git", "markdown", "model" , "slugify"]
#external crates
url.workspace = true
itertools.workspace = true
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
config = { version = "0.15", features = ["toml"] }
tera = "1.20"
once_cell = "1.20"
chrono-tz = { version = "0.10", features = ["serde"] }
colored = "3.0"
hyper = { version = "1.5", features = ["full"] }
tokio = { version = "1.42", features = ["full"] }
http-body-util = "0.1"
hyper-util = { version = "0.1", features = ["full"] }
percent-encoding = "2.3"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
clap-verbosity-flag = "3.0.2"
rayon = "1.10.0"

[dev-dependencies]
scraps_libs.workspace = true
scraps_libs.features = ["git_test", "test_supports"]
