[settings]
experimental = true

[tools]
"rust" = { version = "1.93.0", profile = "default" }
"hk" = "latest"
"pkl" = "latest"
"github:boykush/scraps" = "latest"
"npm:markdownlint-cli2" = "latest"
"cargo:cargo-llvm-cov" = "latest"
"cargo:cargo-deny" = "latest"

[hooks]
postinstall = "{{if not (env \"CI\")}}hk install --mise{{end}}"
