name: Deploy scraps github pages
on: 
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/deploy-scraps-github-pages.yml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # For scraps git commited date
      - name: build_and_deploy
        uses: boykush/scraps-deploy-action@dfcd9d80cfaa7cc9dd6d8e158ab927b4445b0d29 # v4.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pages-branch: gh-pages
