name: Deploy scraps github pages
on: 
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - '.github/workflows/deploy-scraps-github-pages.yml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # For scraps git commited date
      - name: build_and_deploy
        uses: boykush/scraps-deploy-action@23c13c5ead2fcdf167966e9470e19eef8ef79634 # v4.2.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pages-branch: gh-pages
