name: Playwright Test
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'scraps/**'
      - 'assets/**'
      - 'CONTRIBUTING.md'
      - 'LICENSE.md'
      - 'README.md'
      - 'CLAUDE.md'

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup Rust
      uses: jdx/mise-action@v3
    - name: Pre build
      run: mise run cargo:build
    - name: Setup Node.js
      uses: jdx/mise-action@v3
      with:
        working_directory: ./tests/e2e
    - name: Install dependencies
      working-directory: ./tests/e2e
      run: npm ci
    - name: Install Playwright Browsers
      working-directory: ./tests/e2e
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      working-directory: ./tests/e2e
      run: npx playwright test